#img_inicio, #anuncio_moodies, #anuncio_premios,#anuncio_dj,#anuncio_incognito,#despedida{
    background-size: cover;
}

#img_inicio{
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/inicio.png');
}

#anuncio_moodies{
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/moodies.png');
    height: 1280px; 
}

#anuncio_premios{
    height: 750px;
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/premios.gif');
}

#anuncio_dj{
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/anuncio_dj.gif');
    height: 750px;
}

#anuncio_incognito{
    height: 750px;
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/lanzamiento_app.png');
}

#despedida{
    height: 750px;
    background-image: url('../../../assets/eventos/intenalco/md-1920-1820/despedida.gif');
}

@media only screen and (max-device-width : 769px) {
    #img_inicio{
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/inicio.png');
    }

    #anuncio_moodies{
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/moodies.png');
        height: 780px; 
    }

    #anuncio_dj{
        height: 750px;
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/anuncio_dj.gif');
    }

    #anuncio_premios{
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/premios.gif');

        height:780px;
    }

    #anuncio_incognito{
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/lanzamiento_app.png');

        height:750px;
    }

    #despedida{
        background-image: url('../../../assets/eventos/intenalco/sm-780-480/despedida.gif');
        height:750px;
    }
}

@media only screen and (max-device-width : 375px) {
    #anuncio_moodies{
        height: 650px;
        background-size: contain; 
    }

    #anuncio_dj{
        height: 650px;
    }

    #anuncio_premios{
        height:670px;
    }

    #anuncio_incognito{
        height:670px;
    }

    #despedida{
        height:670px;
    }
}