<div class="min-w-screen md:min-h-screen  bg-gray-950 flex items-center justify-center px-5 py-5" >
  <div class="h-full">
      <!--Nav-->
      <div class="w-full container mx-auto">
        <div class="w-full flex items-center justify-between">
          <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
            Incóg<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">nito</span>
          </a>

          <div class="flex w-1/2 justify-end content-center">
            <a class="inline-block text-blue-300 no-underline hover:text-pink-500 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out" href="https://www.instagram.com/incognito.app.oficial/" target="_blank">
              <img src="../../../assets/icons/icon_instagram.png" alt="instagram">
            </a>
          </div>
        </div>
      </div>

      <!--Main-->
      <div class="container pt-12 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
          <h1 class="my-4 text-3xl md:text-5xl opacity-75 font-bold leading-tight text-center md:text-left">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
              Bienvenid@ a una experiencia DIFERENTE.
            </span>
          </h1>
          <p class="leading-normal text-white md:text-2xl mb-8 text-center md:text-left">
            Inicia sesión para descubrir tu lado incógnito.
          </p>

          <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
              <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
                Ingresa tu usuario
              </label>
              <input
                class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
                id="emailaddress"
                type="text"
                placeholder="Usuario"
              />
            </div>

            <button
              class=" w-full bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button"
            >
              Iniciar
            </button>
          </form>
        </div>

        <!--Right Col-->
        <div class="w-full xl:w-3/5 p-12 overflow-hidden">
          <img src="../../../assets/icons/logo_incognito_.png" alt="Logo Incognito">
        </div>

        <div class="mx-auto md:pt-16">
          <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center">
            Muy pronto podrás descargar nuestra app desde:
          </p>
          <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
            <img src="../../../assets/icons/icon_app_store.svg" class="h-12 pr-12 transform hover:scale-125 duration-300 ease-in-out" />
            <img src="../../../assets/icons/icon_play_store.svg" class="h-12 transform hover:scale-125 duration-300 ease-in-out" />
          </div>
        </div>

        <!--Footer-->
        <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">          
          <p class="text-blue-400 text-center font-bold"> 
            <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; Incognito 2023</a> Desarrollado por
            <a class="text-gray-500 no-underline hover:no-underline" href="https://incognito-xxov.onrender.com" target="_blank">KODIE</a>
          </p>
        </div>
      </div>
  </div>
</div>
