<!-- component -->
<div class="flex min-h-screen items-center justify-center bg-black">    
  <div class="relative h-[980px] w-[400px] bg-[100%]  overflow-hidden rounded-3xl bg-opacity-20 " style="background-image: url('../../../../assets/images/video.mobile.auth.gif');">        
    <div class="w-full grid place-items-center">
        <img class="border-blue-700 w-[300px]" src="../../../../assets/icons/logo_incognito_.png">
        <h1 class="text-white text-center">Una experiencia
            <span class="inline-block bg-gradient-to-r from-purple-600 via-yellow-500 to-red-700 bg-clip-text text-transparent font-bold">ÚNICA</span>
        </h1>
    </div>
      
    <div class="text-boxes absolute bottom-0 flex h-2/3 w-full flex-col rounded-t-3x bg-opacity-20 shadow ">
      <form (submit)="login_submit($event)" [formGroup]="login" class="space-y-8 px-10 py-10 text-center">
        <div class="group relative">
          <label for="username" class="absolute flex h-full transform text-white transition-all duration-300" [ngClass]="login.controls['nickname'].valid ? '-top-7 h-1/2 pl-0 text-base' : 'items-center pl-2 left-2 top-0 group-focus-within:-top-7 group-focus-within:h-1/2 group-focus-within:pl-0 group-focus-within:text-base group-focus-within:text-white peer-valid:-top-7 peer-valid:h-1/2 peer-valid:pl-0 peer-valid:text-base peer-valid:text-white'" >Usuario</label>
          <input formControlName="nickname" #inputNickname type="text" id="username" required class="peer h-14 w-full rounded-md bg-[#434242] text-white bg-opacity-20 px-4 text-sm outline-none" />
        </div>

        <div class="group relative">
          <label for="password" class="absolute flex h-full transform text-white transition-all duration-300" [ngClass]="login.controls['password'].valid ? '-top-7 h-1/2 pl-0 text-base' : 'items-center pl-2 left-2 top-0 group-focus-within:-top-7 group-focus-within:h-1/2 group-focus-within:pl-0 group-focus-within:text-base group-focus-within:text-white peer-valid:-top-7 peer-valid:h-1/2 peer-valid:pl-0 peer-valid:text-base peer-valid:text-white'">Contraseña</label>
          <input formControlName="password" #inputPassword type="password" id="password" required class="peer h-14 w-full rounded-md bg-[#434242] text-white bg-opacity-20 px-4 text-sm outline-none" />
        </div>

        <a href="#" class="inline-flex !w-auto justify-end font-medium text-white text-xs underline">¿Olvidaste tu contraseña?</a>
        
        <button type="submit"class="border-white-500 group m-auto my-0 inline-flex h-12 w-[320px] items-center justify-center space-x-2 rounded-3xl border px-4 py-2 transition-colors duration-300 text-white hover:border-white hover:bg-white hover:text-black focus:outline-none">
            <span class="text-sm font-medium">Continuar</span>
        </button>
      </form>
      
      <p class="gap-2 mt-3 text-center text-white">
        ¿No tienes una cuenta?
        <a href="#" class="font-semibold text-white hover:text-blue-800 underline"> Registrate -></a>
      </p>
    </div>
  </div>
</div>