<!-- START - Fondo -->
<div class="bg-gray-950 h-screen" >
    <nav class="bg-[#282836] fixed w-full top-0 left-0 text-2xl text-white py-2 px-6 flex items-center justify-around" >
        <a href="" routerLink="/home/feed">FEED</a>
        <a href="" routerLink="/home/chat">CHAT</a>
        <!-- <button class="text-white p-1" (click)="showChat = !showChat" ><img src="../../../assets/icons/icon_chat.svg" class="h-7 transform hover:scale-125 duration-300 ease-in-out" /></button> -->
    </nav>
    <router-outlet></router-outlet>
    <!-- START - Mobile Menu -->
    <!-- END - Mobile Menu -->
</div>
<!-- END - Fondo -->