<!-- START - Chat -->
<div class="flex flex-col w-screen min-h-screen text-gray-800">
    <div class="flex flex-col flex-grow w-full max-w-xl bg-gray-900 shadow-xloverflow-hidden">
        <div class="flex flex-col flex-grow h-0 p-4 overflow-auto">
            <div class="flex w-full mt-2 space-x-3 max-w-xs">
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-blue-300"></div>
                <div>
                    <div class="bg-blue-300 p-3 rounded-r-lg rounded-bl-lg">
                        <p class="text-sm">Hola, está genial la fiesta</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 3 min</span>
                </div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Quién es la del disfraz de princesa?</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 2 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Creo que puede ser Lina la de octavo</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 2 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs">
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-red-300"></div>
                <div>
                    <div class="bg-red-300 p-3 rounded-r-lg rounded-bl-lg">
                        <p class="text-sm">Y si vemos como baila el hombre lobo? XD</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 2 min</span>
                </div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Buena idea, hagamos que el reto para el sea bailar bachata! </p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 1 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Creo que será interesante ver que tanto sabe, jajaja</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 1 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Veamos que sabes bailar!</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 1 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs">
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-green-300"></div>
                <div>
                    <div class="bg-green-300 p-3 rounded-r-lg rounded-bl-lg">
                        <p class="text-sm">Les parece si pedimos un perreo? </p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 1 min</span>
                </div>
            </div>
            <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                <div>
                    <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                        <p class="text-sm">Creo que al hombre lobo le va a gustar!!! XD</p>
                    </div>
                    <span class="text-xs text-gray-500 leading-none">Hace 1 min</span>
                </div>
                <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
            </div>
        </div>
        
        <div class="bg-gray-800 p-4">
            <input class="bg-gray-900 flex items-center h-10 w-full rounded px-3 text-sm" type="text" placeholder="Escribe tu mensaje?">
        </div>
    </div>
</div>
<!-- END - Chat -->
